@import "../vars.scss";
.main {
  width: 90%;
  margin: auto;
  & > p {
    color: $white2;
    text-align: center;
    padding-bottom: 1.5em;
    @include mobile {
      padding-top: 1.5em;
    }
  }
  section {
    form {
      text-align: center;
      padding-bottom: 1em;
      input {
        width: 50%;
        font-size: 1rem;
        padding: 0.7em;
        border-radius: $minRadius;
        background: $black2;
        color: $white;
        font-family: var(--font-ar);
        direction: rtl;
        &.focus {
          box-shadow: 0 0 0 1px $blue;
        }
        &.loading {
          box-shadow: 0 0 0 1px $white3;
        }
        @include mobile {
          width: 100%;
        }
      }
    }
    & > h1 {
      direction: rtl;
      grid-column: span 3;
      text-align: center;
      padding: 1em 0;
      color: $white3;
    }
    ul {
      display: grid;
      gap: 1em;
      grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
      @include mobile {
        &.focus {
          display: block;
          li {
            width: 100%;
            padding-inline: 0.5em;
            grid-template-rows: none;
            grid-template-columns: 50px auto;
            box-shadow: 0 0 10px 1px #131414;
            border-radius: 0.5em;
            & > div {
              width: 50px;
              height: 50px;
              border-radius: 50px;
              box-shadow: 0 0 0 2px var(--grey-primary);
            }
            article {
              & > div {
                padding-block: 1em;
              }
            }
          }
        }
      }
      li {
        min-width: 90%;
        padding-top: 1em;
        display: grid;
        grid-template-rows: 1fr 1fr;
        cursor: pointer;
        user-select: none;
        border-radius: $minRadius;
        transition: 0.5s;
        @include desktop {
          &:hover {
            & > div {
              width: 97%;
              border-radius: 2em;
            }
          }
        }
        & > div {
          width: 100%;
          height: 25vh;
          margin: 0 auto;
          border-radius: 0.3em;
          transition: 0.2s;
          @include mobile {
            height: 20vh;
            border-radius: 0.5em;
          }
          @include rotate {
            height: 9em;
          }
        }
        article {
          display: grid;
          grid-template-rows: 1fr 1fr 1fr;
          @include mobile {
            grid-template-rows: 0.7fr 0.5fr 1fr;
          }
          h1 {
            text-align: center;
            margin: auto;
            color: $white;
          }
          & > p {
            margin: auto;
            direction: rtl;
            color: $white2;
          }
          & > div {
            margin: auto;
            width: 90%;
          }
        }
      }
    }
  }
}
